<div class="sl-nav">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active" [routerLink]="['/pages/services']">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> 服务
    </label>
    <label class="btn btn-primary" [routerLink]="['/pages/product']">
      <input type="radio" name="options" id="option2" autocomplete="off"> 产品
    </label>
    <label class="btn btn-primary" [routerLink]="['/pages/cases']">
      <input type="radio" name="options" id="option3" autocomplete="off"> 案例
    </label>
    <label class="btn btn-primary" [routerLink]="['/pages/us']">
      <input type="radio" name="options" id="option4" autocomplete="off"> 我们
    </label>
  </div>
</div>
