<div class="sl-service container-fluid">
  <div class="card border-primary text-center">
    <img class="card-img-top" src="assets/imgs/logo.png">
    <div class="card-body text-primary">
      <h3 class="card-title">定制开发</h3>
      <h5 class="card-title">Custom development</h5>
      <br>
      <h6 class="card-title">专注企业级定制化业务管理系统</h6>
      <p class="card-text">通过自主研发面向现代化的智能开发框架，提高开发效率，降低开发成本，积累优秀插件，吸纳先进思想，持续提升自动化水平，稳步强化产出项目的安全、稳定、高可用。</p>
      <a href="#" class="btn btn-primary">产品</a>
    </div>
  </div>
  <div class="card border-success text-center">
    <img class="card-img-top" src="assets/imgs/logo.png">
    <div class="card-body text-success">
      <h3 class="card-title">运行维护</h3>
      <h5 class="card-title">Custom development</h5>
      <br>
      <h6 class="card-title">专注企业级定制化业务管理系统</h6>
      <p class="card-text">通过自主研发面向现代化的智能开发框架，提高开发效率，降低开发成本，积累优秀插件，吸纳先进思想，持续提升自动化水平，稳步强化产出项目的安全、稳定、高可用。</p>
      <a href="#" class="btn btn-success">运维</a>
    </div>
  </div>
</div>
